#chessBoard {
  padding: 0px;
  border-collapse: collapse;
  border:1px solid #ccc;
  display:block;
  margin:0 auto;
  margin-top: 60px;
}
.cell {
  height: 50px;
  width: 50px;
}
.dark {
  background-color: #ccc;
}
.light {
  background-color: #fff;
}
