#chessBoard {
  padding: 0px;
  border-collapse: collapse;
  border:1px solid #ccc;
  display:block;
  margin:0 auto;
  margin-top: 60px;
}
.cell {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 25px;
}
.cell span {
  display: block;
  margin-top: -3px
}
.dark {
  background-color: #ccc;
}
.light {
  background-color: #fff;
}
.hasPiece {
  cursor: pointer;
}
