//Widths for @media queries
$width-large:  64rem;
$width-medium: 48rem;
$width-small:  40rem;
$width-xsmall: 34rem;

// misc
$border-color: 1px solid #ccc;
$lightBlue: #66C1EE;
$textColor: #444;
$yellow: #FFD100;
$green: #39D179;
$blue: #428bca;
