@font-face {
  font-family: 'Maya';
  src: url('../fonts/MAYAFONT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MAYAFONT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MAYAFONT.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MAYAFONT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MAYAFONT.svg#d50a7798145cba4b4eddd4823f7e0f9e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
#chessBoard {
  padding: 0px;
  border-collapse: collapse;
  border:1px solid #ccc;
  font-family: Maya;
  background-size: 100%;
  margin:0 auto;
  margin-top: 60px;
}
.cell {
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 0;
  font-size: 33px;
  border: none;
  -webkit-transition: 200;
  -moz-transition: 200;
  -o-transition: 200;
  -ms-transition: 200;
} .cell span {
  display: block;
  box-sizing: border-box;
  padding-top: 8px;
  height: 50px;
  width: 50px;
  -webkit-transition: 200;
  -moz-transition: 200;
  -o-transition: 200;
  -ms-transition: 200;
}
.dark {
  background-color: rgba(204, 204, 204, 1);
}
.light {
  background-color: rgba(255, 255, 255, 1);
}
.hasPiece {
  cursor: pointer;
}
.selected span {
  border: 2px solid #3498DB;
  padding-top: 6px;
}
.draggedOver {
  background-color: #31CD73;
}
